name: Build & publish wheel

on:
  workflow_call:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
  release:
    types: [published]
  
env:
  FAISS_OPT_LEVEL: "generic"
  CUDA_ARCHITECTURES: "70-real;80-real"
  
jobs:
  build-wheel:
    if: ${{ github.event_name == 'release' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'build')) }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant: ["gpu-cu11", "gpu-cu12"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: build faiss-${{ matrix.variant }}
        run: uvx cibuildwheel@2.23.2 variant/${{ matrix.variant }} --output-dir wheelhouse
      - uses: actions/upload-artifact@v4
        with:
          name: wheel-${{ matrix.variant }}
          path: ./wheelhouse/*.whl

  publish:
    name: upload wheel to PyPI
    needs: ["build-wheel"]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: pypi-publish
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://upload.pypi.org/legacy/
