name: Static analysis

on:
  workflow_call:
  pull_request:

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install tools
        run: uv tool install ruff typos taplo
      - name: Lint
        run: ruff check .
      - name: Check Python formatting
        run: ruff format . --diff
      - name: Check TOML formatting
        run: taplo fmt --check
      - name: Typos
        run: typos
