name: Static analysis

on:
  workflow_call:
  pull_request:

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up mise
        uses: jdx/mise-action@v2
      - name: Install tools
        run: |
          mise trust
          mise install
      - name: Ruff lint
        run: ruff check .
      - name: Ruff format check
        run: ruff format . --diff
      - name: Taplo format check
        run: taplo format --diff * */* */*/*
      - name: Typos check
        run: typos .
